<app-generic-table
  [columns]="columns"
  [data]="data"
  [filter]="true"
  [filterPlaceholder]="'Filter any value'"
  [footer]="footer"
  [pagination]="[5, 25, 100]"
  [pageSize]="5"
  [tableColumnTemplate]="reusableTableTemp"
  [tableMinWidth]="400"
  [nonSortableColumns]="['actions']"
  (filteredData)="applyFiltertoTable($event)">
  <!-- columns: required,
    data: required
    filter: not required, if null => no filter
    filterPlaceholder: not required, if null => 'Filter'
    footer: not required, if null => no footer
    pagination: not required, if null => 50 items per page
    pageSize: not required, if null => min size of pagination
    tableMinWidth: not required, if null => 500px is the default  value
    filteredData: not required, passes the filter back
    tableColumnTemplate: not required; custom template for the table column
    nonSortableColumns: not required; if null => all columns are sortable
  -->
</app-generic-table>

<app-generic-table [columns]="columns2" [data]="data" [nonSortableColumns]="disableSortingFor"> </app-generic-table>

<ng-template #reusableTableTemp let-element="element" let-i="index" let-column="column">
  <ng-container *ngIf="column.columnDef === 'actions'">
    <div class="btn-group">
      @for (button of buttons; track $index) {
        <button mat-raised-button [ngClass]="button.styleClass" (click)="onClickActionBtn(button.action, element)">
          <mat-icon> {{ button.icon }} </mat-icon>
          {{ button.text }}
        </button>
      }
    </div>
  </ng-container>

  <ng-container *ngIf="column.columnDef !== 'actions'">
    <span> {{ column.cell(element) }} </span>
    <!-- <span> {{ element[column.columnDef] }} </span> -->
  </ng-container>
</ng-template>
